.main-header {
  background-color: $black;

  &__container {
    display: flex;

    @include basicWidth;

    padding: 1rem 0;
  }

  &__nav {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: $deco-font-light;
  }

  &__list {
    flex: 1;
    display: flex;
    align-items: center;

    @include mq(xs) {
      justify-content: space-around;
    }

    @include mq(tab) {
      justify-content: space-evenly;
    }

    @include mq(laptap) {
      justify-content: flex-start;
    }
  }

  &__item {
    &:last-child {
      display: none;
    }

    @include mq(tab) {
      &:not(:last-child) {
        margin: 0 1rem;
      }

      &:last-child {
        display: block;
        background-color: $color-primary;
        margin-left: 2rem;
        border-radius: 3px;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    color: $white;
    display: flex;
    align-items: center;
    padding: 1rem;

    @include mq(xs) {
      padding: 0;
    }

    @include mq(tab) {
      font-size: 1.3rem;
    }

    .iconify {
      margin-right: 0.5rem;

      @include mq(xs) {
        display: none;
      }
    }

    &.active {
      color: $color-primary;
    }
  }

  &__user-info {
    display: none;

    @include mq(laptap) {
      display: flex;
      align-items: center;

      &__mail {
        position: relative;
        margin-right: 2rem;

        a {
          display: flex;
        }

        .iconify {
          color: $white;
          font-size: 3rem;
        }

        .mail-num {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          color: $white;
          background-color: $color-primary;
          width: 1.3rem;
          height: 1.3rem;
          top: 0;
          right: -0.5rem;
          font-size: 1rem;
        }
      }

      &__name {
        a {
          color: $white;
          margin-right: 2rem;
          font-size: 1.3rem;
        }
      }

      &__icon {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;

        &--img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
