.hot-ads {
  @include basicWidth;

  padding: 2rem 0 3rem 0;
  position: relative;

  &__container {
    margin: 0 auto;
    width: 76%;

    @include mq(tab) {
      width: 88%;
    }
  }

  &__heading {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  &__wrapper {
    @include mq(tab) {
      display: flex;
    }
  }

  &__title {
    font-size: 2rem;
    color: $color-primary;
    font-family: $basic-font-normal;
  }

  &__paragraph {
    line-height: 1.3;
    word-break: break-all;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;

    &__link {
      border: 1px solid $light-grey-1;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .iconify {
        color: $color-primary;
        font-size: 2rem;
      }
    }
  }
}
