.hot-ads {
  @include basicWidth;
  padding: 2rem 0 3rem 0;
  position: relative;
  &__container {
    margin: 0 auto;
    width: 76%;
    @include mq(tab) {
      width: 88%;
    }
  }
  &__heading {
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  &__wrapper {
    @include mq(tab) {
      display: flex;
    }
  }
  &__figure {
    position: relative;
    height: 28rem;
    overflow: hidden;
    @include mq(tab) {
      height: 23rem;
      flex: 0 0 32rem;
      margin-right: 3rem;
    }
    &__arrows {
      position: absolute;
      background-color: rgba($black, 0.7);
      width: 8rem;
      height: 3rem;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &__link {
        display: flex;
      }
      .iconify {
        color: $color-primary;
        font-size: 2rem;
      }
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    max-width: 120%;
    object-fit: cover;
  }
  &__text {
  }
  &__title {
    font-size: 2rem;
    color: $color-primary;
    font-family: $basic-font-normal;
  }
  &__paragraph {
  }
  &__atb {
    &--author {
    }
    &--brand {
    }
  }
  &__purchase {
    max-width: 30rem;
    background-color: $color-primary;
    border-radius: 0.5rem;
    display: flex;
    &--price {
      color: $white;
      border-right: 1px solid $black;
      padding: 1rem 3.5rem;
      font-size: 1.8rem;
    }
    &--cart-in {
      color: $white;
      padding: 1rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .iconify {
        margin-right: 1.3rem;
      }
    }
  }
  &__arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    &__link {
      border: 1px solid $light-grey-1;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .iconify {
        color: $color-primary;
        font-size: 2rem;
      }
    }
  }
}
