.search-area {
  background-color: $color-primary;
  padding: 6rem 0 4rem 0;
  &__container {
    @include basicWidth;
  }
  &__heading {
    margin: 0 auto 5rem;
    text-align: center;
    font-family: $deco-font-light;
    &--main {
      display: block;
      font-size: 5rem;
      margin-bottom: 0.2rem;
    }
    &--sub {
      color: $white;
      font-size: 1.7rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
}
