// COLORS
$color-primary: #d35266;
$grey: #777;
$white: #fff;
$black: #383838;

// FONT
$default-font-size: 1.6rem;
$basic-font-normal: "Pragmatica Medium", sans-serif;
$basic-font-bold: "Free Sans Bold", sans-serif;
$basic-font-light: "Nimbus Sans Light", sans-serif;
$deco-font-light: "Gotham Rounded", sans-serif;
$deco-font-bold: "Gotham", sans-serif;

// WIDTH
$basic-width: 94%;
$basic-max-width: 90rem;
