.swiper-container {
  width: 100%;
  height: 300px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
