html {
  font-size: 50%; // 1rem = 8px (8/16)
  @include mq(tab) {
    font-size: 62.5%; // 1rem = 10px (10/16)
  }
}

body {
  box-sizing: border-box;
  font-family: $basic-font-normal;
}

ul {
  list-style-type: none;
}
